body{
  margin: 0%;
  padding: 0%;
}
.pond{
 display: flex;
 justify-content: flex-end;
 font-size: 13px;
 font-weight:bold;
 flex-wrap: nowrap;

}
.zhongjian{
  margin: 0 auto;
  width: 280px;
}
.kuang{
  border: solid 1px #38f(0, 0, 0);
  width:550px;
  vertical-align: middle;
  height:35px;
  font-size: 20px;
}
button{
  background: #38f;
  color: aliceblue;
  font-size: 18px;
  border: 0 transparent;
  width:102px;
  height: 40px;
  vertical-align: middle;
  outline: none;
  
}
.center{
  text-align: center;
  padding: 10px;
}
a{
  margin: 10px;
}
.zi
{
  text-align: center;
  font-size: 10px;
  color: darkgrey;
}
.img{
  width:270px;
  height:129px;
 margin-top:100px;
}

.foot{
  margin-top: 50px;
}
.waper{
  text-align: center;
  margin-bottom: 250px;
}
.centerr{
  text-align: center;
}




